*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    direction: rtl;
}

.navbar{
    position: relative;
    z-index: 200;
}

.hero{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    

}

.hero img{
    width: 90%;
    height: 80vh;
    display: block;
   margin: 5px auto;
   object-fit: cover;
   border-radius: 5px;
}

.menuList{
    display: flex;
}

.menuList li{
    list-style: none;
}

.menuList li a{
    text-decoration: none;
}